@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 99999;
}

nav ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li a {
  color: #252525;
  font-weight: 500;
}

nav ul li a:hover {
  border-bottom: 5px solid rgb(255, 153, 0);
}

.about {
  margin-top: -7px;
}

.sub-about-1 {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(7 42 86);
}

.sub-about-2 {
  display: flex;
  align-items: center;
  color: #252525;
  background-color: #ecdab5;
}

.text-about {
  font-weight: bold;
  padding: 30px;
}

.text-about h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

.text-about p {
  line-height: 30px;
  font-size: 15px;
}

.berita {
  padding: 30px;
  margin-top: 50px;
}

.judul-berita {
  font-size: 40px;
  color: #252525;
}

.list-poster {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.poster-berita {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster-berita img {
  max-width: 80%;
  margin-bottom: 20px;
}

.poster-berita h1 {
  font-size: 25px;
}

.dosen {
  margin-top: 150px;
  padding: 30px;
}

.dosen h1 {
  font-size: 40px;
  color: #252525;
  margin-bottom: 20px;
}

.list-dosen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.prof-dosen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 50px;
}

.prof-dosen img {
  width: 100%;
}

.prof-dosen h5 {
  text-align: center;
  font-size: 15px;
}

.prof-dosen p {
  font-size: 12px;
}
