.text1 {
  display: block;
  margin: 14px 0 0;
}

.body {
  font-family: "Poppins", sans-serif;
}

.kontak {
  display: flex;
  margin-top: 130px;
  padding: 30px;
}

.kiri {
  margin-top: 30px;
}

.kiri h2 {
  margin-bottom: 20px;
}

.judul {
  margin-bottom: 20px;
}

.box {
  box-sizing: border-box;
  color: #252525;
  font-family: inherit;
  line-height: calc(50px - (12px * 2) - 2px);
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  position: relative;
}

.kolom-kontak {
  flex-basis: 48%;
  margin-bottom: 30px;
  width: 100%;
}

.kolom-kontak div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.kolom-kontak div {
  padding: 0;
}

.kolom-kontak input,
.kolom-kontak textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid;
}

.button {
  color: white;
  font-size: large;
  width: 100px;
  height: 40px;
}
